body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: grey;
  color:white;
}

.current {
  background-color: #ff6961;
  color:red;
  font-style: italic;
}

.future {
  background-color: #77dd77;
  color:green;
}

ul.event-group {
  max-height: 70px;
  margin: 0;
  list-style-type: none;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.event {
  padding: 2px 0px 0px 2px };

.events{
  margin: 0;
  height: 75px;
 color: white;
  font-size: 14px;
  line-height: 22px;
}

.save-delete {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: teal;
  color: white;
  text-align: center;
  padding-top: 25px;
}
.save-delete i.fa-save{
  font-size: 30px;
}
.save-delete i.fa-save:hover {
  font-size: 30px;
  color: yellow;
  transition: all .3s ease-in-out;
}
.save-delete i.fa-trash{
  font-size: 18px;
  padding-left: 8px;
}
.save-delete i.fa-trash:hover {
  font-size: 18px;
  color: #D02A07;
  transition: all .5s ease-in-out;
}